<%- include("./partials/header") %>

<div class="container mt-5">
    <h1>WElcome to login and Register System!</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>
</div>

<%- include("./partials/footer") %>